<div class="show_content">
  <div class="show_body">
    <h3><%= @article.title %></h3>
    <p><%= @article.body %></p>
  </div>

  <div class="show_edit_links">
    <%= link_to "Edit", edit_article_path(@article) %>
    <%= link_to "Destroy", article_path(@article), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"} %>
  </div>

  <div class="show_comments">
    <h3>Comments</h3>
    <br/>
    <%= render @article.comments %>
  </div>

  <div class="show_add_comments">
    <h3>Add a comment:</h3>
    <%= render 'comments/form' %>
  </div>
</div>

<%= render 'shared/sidebar' %>